
/* Your CSS Code here. */
 body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            padding: 20px;
        }

        .box-model {
            width: 300px;
            background-color: lightblue;
            border: 15px solid blue;
            padding: 50px;
            margin: 20px;
        }